In [1]:
df <- read.csv('athlete_events.xls')

In [4]:
head(df)

  ID Name                     Sex Age Height Weight Team           NOC
1 1  A Dijiang                M   24  180    80     China          CHN
2 2  A Lamusi                 M   23  170    60     China          CHN
3 3  Gunnar Nielsen Aaby      M   24   NA    NA     Denmark        DEN
4 4  Edgar Lindenau Aabye     M   34   NA    NA     Denmark/Sweden DEN
5 5  Christine Jacoba Aaftink F   21  185    82     Netherlands    NED
6 5  Christine Jacoba Aaftink F   21  185    82     Netherlands    NED
  Games       Year Season City      Sport
1 1992 Summer 1992 Summer Barcelona Basketball
2 2012 Summer 2012 Summer London    Judo
3 1920 Summer 1920 Summer Antwerpen Football
4 1900 Summer 1900 Summer Paris     Tug-Of-War
5 1988 Winter 1988 Winter Calgary   Speed Skating
6 1988 Winter 1988 Winter Calgary   Speed Skating
  Event                              Medal
1 Basketball Men's Basketball        NA
2 Judo Men's Extra-Lightweight       NA
3 Football Men's Football            NA
4 Tug-Of-War Men's Tug-Of-War        Gold
5 Speed Skating Women's 500 metres   NA
6 Speed Skating Women's 1,000 metres NA

How old were the youngest male and female participants of the 1996 Olympics?

In [26]:
min(df[df$Year == 1996 & df$Sex == 'F',]['Age'], na.rm = TRUE) #female - 12 y.o

[1] 12

In [28]:
min(df[df$Year == 1996 & df$Sex == 'M',]['Age'], na.rm = TRUE) #male - 14 y.o

[1] 14

What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal?

In [51]:
table <- df[df$Year == 2000 & df$Sex == 'M',]
table_1 <- df[df$Year == 2000 & df$Sex == 'M' & df$Sport == 'Gymnastics',]
round(nrow(unique(table_1['Name']))/nrow(unique(table['Name'])), digits = 3) * 100

[1] 1.5

What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal?

In [62]:
height <- df[df$Year == 2000 & df$Sex == 'F' & df$Sport == 'Basketball',]
round(mean(height$Height), digits = 1) #mean height

[1] 182.4

In [61]:
round(sd(height$Height), digits=1) # standard deviation

[1] 9.1

Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?

In [72]:
df[df$Year == 2002 & !is.na(df$Weight) & df$Weight == max(df[df$Year == 2002,]['Weight'], na.rm =TRUE),]['Sport']

      Sport
99155 Bobsleigh

How many times did Pawe Abratkiewicz participate in the Olympics held in different years?

In [76]:
nrow(unique(df[df$Name == 'Pawe Abratkiewicz',]['Year']))

[1] 3

 How many silver medals in tennis did Australia win at the 2000 Olympics?

In [82]:
nrow(df[df$Year == 2000 & df$Team == 'Australia' & df$Sport == 'Tennis' & !is.na(df$Medal) & df$Medal == 'Silver',])

[1] 2

Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in Medal column?

In [85]:
switzerland = nrow(df[df$Year == 2016 & df$Team == 'Switzerland' & !is.na(df$Medal),])
serbia = nrow(df[df$Year == 2016 & df$Team == 'Serbia' & !is.na(df$Medal),])
if (switzerland < serbia){
    cat('Yes')
} else {
    cat('No') }

Yes

What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?

In [100]:
s_1995 = df[df$Year == 1995,]
s_2016 = df[df$Year == 2016,]
abs(nrow(s_1995[!duplicated(s_1995$Sport),]) - nrow(s_2016[!duplicated(s_2016$Sport),]))

[1] 34

Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?

In [103]:
if (nrow(df[df$Season == 'Summer' & df$City == 'LakePlacid',]) > 0) {
    cat('Yes ')
} else {
    cat('No ')
}
if (nrow(df[df$Season == 'Winter' & df$City == 'Sankt Moritz',]) > 0) {
    cat('Yes ')
} else {
    cat('No ')
}

No Yes

 What age category did the fewest and the most participants of the 2014 Olympics belong to?

In [136]:
age = df[df$Year == 2014,]
age = age[!duplicated(age$ID),]
age_45 <- nrow(age[age['Age'] >= 45 & age['Age'] <= 55,])
cat('[45-55] = ', age_45)

[45-55] =  5

In [137]:
age_25 <- nrow(age[age['Age'] >= 25 & age['Age'] < 35,])
cat('[25-35] = ', age_25)

[25-35] =  1397

In [139]:
age35 <-  nrow(age[age['Age'] >= 35 & age['Age'] < 45,])
cat('[35-45] = ', age35)

[35-45] =  150

In [141]:
age15 <- nrow(age[age['Age'] >= 15 & age['Age'] < 25,])
cat('[15-25] = ', age15) #fewest - [45 - 55], most - [25 -35]

[15-25] =  1193